**
!municipalize-admin-app/
!municipalize-admin-app/package.json
!municipalize-admin-app/package-lock.json
!municipalize-admin-app/nest-cli.json
!municipalize-admin-app/tsconfig.json
!municipalize-admin-app/src/
!municipalize-admin-app/src/**

!municipalize-app/
!municipalize-app/package.json
!municipalize-app/package-lock.json
!municipalize-app/angular.json
!municipalize-app/tsconfig.json
!municipalize-app/tsconfig.app.json
!municipalize-app/src/
!municipalize-app/src/**
!municipalize-app/public/
!municipalize-app/public/**
municipalize-app/node_modules
municipalize-app/dist

!e2e/
e2e/*
!e2e/nginx.municipalize-app.conf
